<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/imagenes inicios/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/contacto.css">
    <title>SHADOW</title>
</head>
<body>
    
    <header>
        <nav id="nav">
            <div class="navTop">
                
                <div class="navItem logo">
                    <img src="static/img/imagenes inicios/Logo.png" alt="Logo" class="Logo">
                    <span class="logo-text">SHADOWS</span>
                </div>
                
                <div class="navMenu">
                    <h3 class="menuItem"><a href="{{ url_for('main.index') }}">INICIO</a></h3> 
                    <h3 class="menuItem"><a href="{{ url_for('main.productos')}}">PRODUCTOS</a></h3> 
                    <h3 class="menuItem"><a href="{{ url_for('main.sobre_nosotros')}}">SOBRE NOSOTROS</a></h3> 
                    <h3 class="menuItem active"><a href="{{ url_for('main.contacto')}}">CONTACTO</a></h3> 
                </div>
                

            </div>
        </nav>
    </header>

    <main>
        <section class="contact-section">
            <h1>Contacto</h1>
            <p>Estamos disponibles para ayudarte con cualquier pregunta o solicitud. Si tienes alguna duda, por favor rellena el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
            
            <div class="contact-info">
                <p>Utiliza las siguientes vías de contacto, o rellena el formulario.</p>
                <p>Vía E-mail <a href="mailto:hola@unsitiogenial.es">hola@unsitiogenial.es</a></p>
                <p>En nuestras redes sociales <a href="https://instagram.com/unsitiogenial" target="_blank">@unsitiogenial</a></p>
                <p>Por teléfono <a href="tel:911234567">91-1234-567</a></p>
            </div>

            <!-- Formulario de contacto -->
            <form id="contactForm" class="contact-form">
                <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" required>
                <input type="email" id="email" name="email" placeholder="Escribe tu e-mail" required>
                <input type="tel" id="telefono" name="telefono" placeholder="Escribe tu teléfono (Opcional)">
                <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje" required></textarea>
                <button type="submit">ENVIAR MENSAJE</button>
            </form>
        </section>
    </main>

    <footer>
        <p>2024 - SHADOWS / MARCA REGISTRADA</p>
    </footer>

    <!-- Agregar el archivo JS -->
    <script src="/static/js/contactame.js"></script>

</body>
</html>
