<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/sobre_nosotros.css">
    <link rel="icon" href="static/img/imagenes inicios/Logo.png" type="image/x-icon">
    <title>SHADOWS</title>
</head>
<body>

    <header>
        <nav id="nav">
            <div class="navTop">
               
                <div class="navItem logo">
                    <img src="static/img/imagenes inicios/Logo.png" alt="Logo" class="Logo">
                    <span class="logo-text">SHADOWS</span>
                </div>
                
                <div class="navMenu">
                    <h3 class="menuItem"><a href="{{ url_for('main.index') }}">INICIO</a></h3>
                    <h3 class="menuItem"><a href="{{ url_for('main.productos')}}">PRODUCTOS</a></h3> 
                    <h3 class="menuItem active"><a href="{{ url_for('main.sobre_nosotros')}}">SOBRE NOSOTROS</a></h3> 
                    <h3 class="menuItem"><a href="{{ url_for('main.contacto')}}">CONTACTO</a></h3> 
                </div>
                

            </div>
        </nav>
    </header>

   
    <section class="about-section">
        <div class="container">
            
            <div class="left-container">
                <h2>Misión</h2>
                <p>
                    En <strong>SHADOWS</strong>, nuestra misión es ofrecer a los jóvenes una experiencia única de moda, fusionando tendencias contemporáneas con una estética audaz y sofisticada.<br>
                    <br>Nos enfocamos en brindar prendas de alta calidad y diseño innovador, permitiendo que cada persona exprese su estilo propio con confianza.<br>
                    Buscamos ser la marca que acompaña a los jóvenes en su camino hacia la autenticidad y el autoexpresión, transformando cada look en una declaración de individualidad.
                </p>
            </div>
            
            <div class="right-container">
                <h2>Visión</h2>
                <p>Ser la marca de ropa de referencia para los jóvenes de hoy, reconocida por su capacidad para interpretar y definir las tendencias de la moda moderna, siempre a la vanguardia y adaptada a las diversas personalidades y estilos de vida. <br>
                    <br>En <strong>SHADOWS</strong>, nos proyectamos como el puente entre la moda urbana y la estética contemporánea, creando colecciones que no solo visten, sino que inspiran. Queremos ser un espacio donde cada joven encuentre no solo ropa, sino una forma de conectar con su propio estilo y actitud.</p>
            </div>
        </div>
    </section>

</body>
</html>
